.active {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: grabbing;
  transform: scale(1.01);
}

.clip__list {
  will-change: transform;
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  scroll-behavior: smooth;
}
