.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  -webkit-clip-path: inset(100%);
}

.pagination {
  display: flex;
}

.pagination__list {
  display: flex;
  margin: 0 auto;
}

.pagination__item {
  padding: 0;
  margin: 0;
  width: 9rem;
  height: 9rem;
  background-color: #ffffff;
  border: 2px solid #a0a0a0;
  border-radius: 50%;
  outline: none;
  margin-right: 3rem;
  font-family: 'PT Sans', sans-serif;
  font-size: 5rem;
  color:#ffffff;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__item:hover {
  cursor: pointer;
  border-color: #ff0000;
}

.current-page {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #ffffff;
}

.pagination__page-number {
  position: relative;
    display: block;
    width: 9rem;
    height: 9rem;
    bottom: 11rem;
    line-height: 9rem;
    right: 0.5rem;
    background-color: #56a83c;
    border-radius: 50%;
}
