@font-face {
  font-family: 'Font-Awesome';
  font-weight: 400;
  font-style: normal;
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
       url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format("woff2");
}

html {
  font-size: 3px;
}

.page {
  margin: 0;
  padding: 0;
  background-color: #c4c4c4;
  position: fixed;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'PT Sans', sans-serif;
}

/* -----styles for clips----- */

.clip {
  margin-bottom: 7rem;
}

.clip__list {
  list-style: none;
  margin: 0;
  padding: 5rem 0;
  cursor: grab;

  display: flex;

  will-change: transform;
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
  transition: all 0.2s;
}

.clip__item {
  font-size: 5rem;
  padding: 0 8rem;
}

.clip__image {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 7rem;
}

.clip__title {
  margin: 0;
  position: absolute;
  top: 22rem;
  left: 0;
  background-color: #ffac01;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.clip__link {
  display: block;
  color: #000000;
  padding: 3rem;
  font-size: 6rem;
  line-height: 9rem;
}

.clip__link:hover {
  color: #56a83c;
  cursor: pointer;
}

.clip__wrapper {
  --clips-per-page: 4;
  background-color: #ffffff;
  border-radius: 3rem;
  padding: 2rem;
  height: 100%;

  position: relative;
  display: flex;
  flex-direction: column;

  width: calc(calc(100vw/var(--clips-per-page)) - 16rem);
  box-sizing: border-box;
}

.clip__wrapper:hover {
  background-color: #ce4a37;
}

.clip__wrapper:hover .clip__channel-title::before,
.clip__wrapper:hover .clip__view-count::before,
.clip__wrapper:hover .clip__date::before,
.clip__wrapper:hover .clip__info,
.clip__wrapper:hover .clip__view-count,
.clip__wrapper:hover .clip__date,
.clip__wrapper:hover .clip__description {
  color: #ffffff;
}

.clip__info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 7rem;
  width: 100%;
  position: relative;
}

.clip__description {
  margin: 0;
  padding: 0 10px;
  font-size: 4.5rem;
  overflow: hidden;
}

.clip__channel-title,
.clip__view-count,
.clip__date {
  font-size: 5rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 2rem;
}

.clip__channel-title::before {
  content: "\f183";
}

.clip__view-count::before {
  content: "\f06e";
}

.clip__date::before {
  content: "\f073";
}

.clip__channel-title::before,
.clip__view-count::before,
.clip__date::before {
  position: absolute;
  left: 7rem;
  font-size: 6rem;
  font-family: 'Font-Awesome';
  color: #8a8a8a;
}

.clip__view-count::before,
.clip__date::before {
  left: 6rem;
}


/* -----styles for seach-box----- */

.search__label {
  width: 60%;
  position: relative;
}

.search {
  padding: 5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.search__box {
  width: 60%;
  padding: 3rem;
  box-sizing: border-box;
  border: 0.4rem solid #696969;
  border-radius: 2rem;
  font-size: 5.5rem;
  box-shadow: inset 0 0 3px 2px rgba(154, 154, 154, 0.52);
  padding-left: 12rem;
}

.search__box:focus {
  outline: none;
  border-color: #065fd4;
}

.search__box:focus::placeholder {
  color: transparent;
}

.search__label::before {
  content: "\f002";
  position: absolute;
  top: -5rem;
  left: 3rem;
  font-size: 7rem;
  font-family: 'Font-Awesome';
}

.page__wrapper {
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

/* -----styles for slider----- */
.active {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: grabbing;
  transform: scale(1.01);
}



@media (max-width: 1024px) {
  html {
    font-size: 2.8px;
  }

  .clip__wrapper {
    --clips-per-page: 3;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 2.5px;
  }

  .clip__wrapper {
    --clips-per-page: 2;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 2.2px;
  }

  .clip__wrapper {
    --clips-per-page: 1;
  }
}
